{% extends "admin/base.html" %} {% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2>Beranda</h2>
</div>
<div>
  <div class="row">
    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-cyan order-card">
        <div class="card-block">
          <h6 class="mb-4">Informasi</h6>
          <h2 class="text-right"><span data-feather="file-text" class="me-5"></span><span>{{ informasi_count }}</span></h2>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="mb-4">Struktur</h6>
          <h2 class="text-right"><span data-feather="grid" class="me-5"></span><span>{{ struktur_count }}</span></h2>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="mb-4">Galeri</h6>
          <h2 class="text-right"><span data-feather="image" class="me-5"></span><span>{{ galeri_count }}</span></h2>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
