{% extends "base.html" %} {% block content %}
<main class="main mt-5 pt-5">
  <!-- Page Title -->
  <div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
      <h1 class="mb-2 mb-lg-0">Galeri</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="{{ url_for('beranda') }}">Beranda</a></li>
          <li class="current">Galeri</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- End Page Title -->

  <!-- Starter Section Section -->
  <section id="starter-section" class="starter-section section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Galeri</h2>
      <p>Berikut adalah dokumentasi kegiatan dari Bank BSI Bengkalis</p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up">
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-3 mb-4">
          <div class="card">
            <img src="{{ url_for('static', filename='img/features-1.jpg') }}" class="card-img-top rounded" alt="Card image 1" />
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-3 mb-4">
          <div class="card">
            <img src="{{ url_for('static', filename='img/features-1.jpg') }}" class="card-img-top rounded" alt="Card image 2" />
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-3 mb-4">
          <div class="card">
            <img src="{{ url_for('static', filename='img/features-1.jpg') }}" class="card-img-top rounded" alt="Card image 3" />
          </div>
        </div>
        <!-- Card 4 -->
        <div class="col-md-3 mb-4">
          <div class="card">
            <img src="{{ url_for('static', filename='img/features-1.jpg') }}" class="card-img-top rounded" alt="Card image 4" />
          </div>
        </div>
        <!-- Card 1 -->
        <div class="col-md-3 mb-4">
          <div class="card">
            <img src="{{ url_for('static', filename='img/features-1.jpg') }}" class="card-img-top rounded" alt="Card image 1" />
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-3 mb-4">
          <div class="card">
            <img src="{{ url_for('static', filename='img/features-1.jpg') }}" class="card-img-top rounded" alt="Card image 2" />
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-3 mb-4">
          <div class="card">
            <img src="{{ url_for('static', filename='img/features-1.jpg') }}" class="card-img-top rounded" alt="Card image 3" />
          </div>
        </div>
        <!-- Card 4 -->
        <div class="col-md-3 mb-4">
          <div class="card">
            <img src="{{ url_for('static', filename='img/features-1.jpg') }}" class="card-img-top rounded" alt="Card image 4" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Starter Section Section -->
</main>
{% endblock %}
