{% extends "base.html" %} {% block content %}
<main class="main">
  <!-- Hero Section -->
  <section id="beranda" class="hero section">
    <div class="hero-bg">
      <img src="{{ url_for('static', filename='img/hero-bg-light.webp') }}" alt="" />
    </div>
    <div class="container text-center mb-5">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 data-aos="fade-up">Selamat Datang <span>Nasabah</span></h1>
        <p data-aos="fade-up" data-aos-delay="100">Bank Syariah Indonesia KCP Duri Hangtuah 1<br /></p>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <a href="#tentang" class="btn-get-started">Jelajahi</a>
        </div>
        <img src="{{ url_for('static', filename='img/bsi_bengkalis.png') }}" class="img-fluid hero-img mt-5" alt="" data-aos="zoom-out" data-aos-delay="300" />
      </div>
    </div>
  </section>
  <!-- /Hero Section -->

  <!-- Featured Services Section -->
  <section id="featured-services" class="featured-services section light-background">
    <div class="container">
      <div class="row gy-4">
        <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><img src="{{ url_for('static', filename='img/kartu.svg') }}" alt="Kartu" width="50px" /></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Kartu</a></h4>
              <p class="description">Kemudahan Transaksi Non Tunai Sesuai dengan Prinsip Syariah</p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><img src="{{ url_for('static', filename='img/digital-banking.png') }}" alt="Digital Banking" width="50px" /></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Digital Banking</a></h4>
              <p class="description">Kebutuhan Digitalisasi Transaksi Sesuai dengan Prinsip Syariah</p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><img src="{{ url_for('static', filename='img/individu.png') }}" alt="Individu" width="50px" /></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Individu</a></h4>
              <p class="description">Solusi Layanan Perbankan Lengkap untuk Pribadi</p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->
      </div>
    </div>
  </section>
  <!-- /Featured Services Section -->

  <!-- Tentang Section -->
  <section id="tentang" class="about section">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
          <p class="who-we-are">Tentang</p>
          <h3>Bank Syariah Indonesia</h3>
          <p class="fst-italic">Assalamu'alaikum Warahmatullahi Wabarakatuh <br />Jadikan pengalaman Kamu lebih baik hari ini</p>
          <ul>
            <li>
              <i class="bi bi-check-circle"></i>
              <span
                >BSI merupakan bank hasil merger antara PT Bank BRIsyariah Tbk, PT Bank Syariah Mandiri dan PT Bank BNI Syariah. melalui Surat Keputusan Otoritas Jasa Keuangan (OJK) No. 04/KDK.03/2021 secara resmi mengeluarkan izin merger
                tiga usaha bank syariah tersebut pada 27 Januari 2021. Selanjutnya, pada 1 Februari 2021, Presiden Joko Widodo meresmikan kehadiran BSI.
              </span>
            </li>
            <li>
              <i class="bi bi-check-circle"></i>
              <span>
                Bank Syariah Indonesia (BSI) memiliki banyak cabang yang sudah tersebar hampir di seluruh wilayah di Indonesia. Di provinsi Riau terdapat 30 cabang Bank Syariah Indonesia yang tersebar di kabupaten/kota di Provinsi Riau
                termasuk di Pulau Bengkalis yang menjadi letak lokasi BSI Kantor Cabang Pembantu (KCP) Duri Hangtuah I yang terletak di Jalan Hangtuah, Kelurahan Bengkalis Kota, Kabuapten Bengkalis.
              </span>
            </li>
          </ul>
        </div>

        <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-4">
            <div class="col-lg-6">
              <img src="{{ url_for('static', filename='img/tentang1.jpg') }}" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6">
              <div class="row gy-4">
                <div class="col-lg-12">
                  <img src="{{ url_for('static', filename='img/tentang2.jpg') }}" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-12">
                  <img src="{{ url_for('static', filename='img/tentang3.jpg') }}" class="img-fluid" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Tentang Section -->

  <!-- Produk Section -->
  <section id="produk" class="features section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Produk</h2>
      <p>Produk syariah dari kami yang membantu kehidupan anda dalam keseharian</p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5 d-flex align-items-center">
          <ul class="nav nav-tabs" data-aos="fade-up" data-aos-delay="100">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
                <i class="bi bi-coin"></i>
                <div>
                  <h4 class="d-none d-lg-block">Cicil Emas</h4>
                  <p>Nikmati kemudahan cicil emas syariah dengan aman dan transparan. Miliki emas impian Anda tanpa riba, sesuai prinsip syariah</p>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
                <i class="bi bi-cash-coin"></i>
                <div>
                  <h4 class="d-none d-lg-block">Pembiayaan Mikro</h4>
                  <p>Dapatkan pembiayaan mikro syariah untuk usaha kecil Anda. Proses mudah, cepat, dan sesuai prinsip syariah, membantu perkembangan bisnis Anda</p>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
                <i class="bi bi-cash-stack"></i>
                <div>
                  <h4 class="d-none d-lg-block">Pembiayaan Konsumer</h4>
                  <p>Dapatkan pembiayaan konsumer syariah untuk kebutuhan Anda. Layanan terpercaya, proses cepat, dan sesuai prinsip syariah untuk kenyamanan finansial Anda</p>
                </div>
              </a>
            </li>
          </ul>
          <!-- End Tab Nav -->
        </div>

        <div class="col-lg-6">
          <div class="tab-content" data-aos="fade-up" data-aos-delay="200">
            <div class="tab-pane fade active show" id="features-tab-1">
              <img src="{{ url_for('static', filename='img/produk1.jpg') }}" alt="" class="img-fluid" />
            </div>

            <div class="tab-pane fade" id="features-tab-2">
              <img src="{{ url_for('static', filename='img/produk2.jpg') }}" alt="" class="img-fluid" />
            </div>

            <div class="tab-pane fade" id="features-tab-3">
              <img src="{{ url_for('static', filename='img/produk3.jpg') }}" alt="" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Produk Section -->

  <!-- Layanan Section -->
  <section id="layanan" class="services section light-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Layanan</h2>
      <p>Pelayanan dengan penuh nilai syariah dalam melayani anda jika bersama kami</p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item item-cyan position-relative">
            <img src="{{ url_for('static', filename='img/ic_sfitur_inquiry_v2.png') }}" alt="" class="me-4" width="100px" />
            <!-- <i class="bi bi-activity icon"></i> -->
            <div>
              <h3>Buka Rekening Online</h3>
              <p>Buka rekening online syariah dengan mudah, aman, dan cepat. Nikmati layanan perbankan berbasis prinsip syariah yang terpercaya dan sesuai dengan kebutuhan Anda.</p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item item-orange position-relative">
            <img src="{{ url_for('static', filename='img/ic_sfitur_manageadmin_v2.png') }}" alt="" class="me-4" width="100px" />
            <!-- <i class="bi bi-broadcast icon"></i> -->
            <div>
              <h3>Setoran Tunai</h3>
              <p>Lakukan setoran tunai syariah dengan mudah dan aman. Nikmati layanan perbankan syariah yang terpercaya untuk memenuhi kebutuhan finansial Anda.</p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item item-teal position-relative">
            <img src="{{ url_for('static', filename='img/ic_sfitur_payment_v2.png') }}" alt="" class="me-4" width="100px" />
            <!-- <i class="bi bi-easel icon"></i> -->
            <div>
              <h3>Penarikan Tunai</h3>
              <p>Lakukan penarikan tunai syariah dengan mudah dan aman. Nikmati layanan perbankan syariah yang terpercaya untuk kebutuhan finansial Anda sesuai prinsip syariah.</p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item item-red position-relative">
            <!-- <i class="bi bi-bounding-box-circles icon"></i> -->
            <img src="{{ url_for('static', filename='img/ic_sfitur_rekening_v2.png') }}" alt="" class="me-4" width="100px" />
            <div>
              <h3>Pembukaan BSI Mobile</h3>
              <p>Unduh dan buka BSI Mobile untuk kemudahan transaksi syariah. Nikmati layanan perbankan syariah lengkap di genggaman Anda.</p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->
      </div>
    </div>
  </section>
  <!-- /Layanan Section -->

  <!-- Kontak Section -->
  <section id="contact" class="contact section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Kontak</h2>
      <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> -->
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-6">
          <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-geo-alt"></i>
            <h3>Alamat</h3>
            <p>Jl. Hangtuah, Bengkalis Kota,</p>
          </div>
        </div>
        <!-- End Info Item -->

        <div class="col-lg-3 col-md-6">
          <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-telephone"></i>
            <h3>BSI Call</h3>
            <p>14040</p>
          </div>
        </div>
        <!-- End Info Item -->

        <div class="col-lg-3 col-md-6">
          <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-envelope"></i>
            <h3>Email</h3>
            <p>contactus@bankbsi.co.id</p>
          </div>
        </div>
        <!-- End Info Item -->
      </div>

      <div class="row gy-4 mt-1">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15954.01223581527!2d102.1124501!3d1.4712248!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31d15fcbddcbd167%3A0xcf6e3e202767bba7!2sBank%20Syariah%20Indonesia%20KCP%20Duri%20Hangtuah%201!5e0!3m2!1sid!2sid!4v1722822077358!5m2!1sid!2sid"
            width="0"
            style="border: 0; width: 100%; height: 400px"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <!-- End Google Maps -->

        <div class="col-lg-6">
          <form action="" method="POST" class="email-form" data-aos="fade-up" data-aos-delay="400">
            <div class="row gy-4">
              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required="" />
              </div>

              <div class="col-md-6">
                <input type="email" class="form-control" name="email" placeholder="Your Email" required="" />
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required="" />
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <button type="submit">Kirim</button>
              </div>
            </div>
          </form>
        </div>
        <!-- End Contact Form -->
      </div>
    </div>
  </section>
  <!-- /Kontak Section -->
</main>

<footer id="footer" class="footer position-relative light-background">
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="{{ url_for('beranda') }}" class="logo d-flex align-items-center">
          <span class="sitename">Bank Syariah Indonesia KCP Duri Hangtuah 1</span>
        </a>
        <div class="footer-contact pt-3">
          <p>Jl. Hangtuah, Bengkalis Kota</p>
          <p>Kec. Bengkalis, Kabupaten Bengkalis, Riau 28713</p>
          <p class="mt-3"><strong>Phone:</strong> <span>14040</span></p>
          <p><strong>Email:</strong> <span>contactus@bankbsi.co.id</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Navigasi</h4>
        <ul>
          <li><a href="#beranda">Beranda</a></li>
          <li><a href="#tentang">Tentang</a></li>
          <li><a href="#produk">Produk</a></li>
          <li><a href="#layanan">Layanan</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Layanan Kami</h4>
        <ul>
          <li><a href="#">Tarik Tunai</a></li>
          <li><a href="#">Setor Tunai</a></li>
          <li><a href="#">Buka Rekening Online</a></li>
          <li><a href="#">Daftar BSI Mobile</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12 footer-newsletter">
        <h4>Customer Satisfaction Survey</h4>
        <a href="https://serviceultimaterace.bankbsi.co.id/css/?outlet=ID0010227" target="_blank" class="btn btn-link text-decoration-none">Tekan Disini</a>
      </div>
    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">Ca1 Team</strong><span>All Rights Reserved</span></p>
    <div class="credits">Designed by <a href="https://ca1.store/">Ca1 Team</a></div>
  </div>
</footer>
{% endblock %}
